ConDep.Dsl.LoadBalancer.Ace/OperationManager41_transformed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://anm.cisco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://anm.cisco.com" name="OperationManagerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://anm.cisco.com" schemaLocation="OperationManager41_schema.xsd">
      </xsd:import>
    </xsd:schema>
    <xsd:schema targetNamespace="http://anm.cisco.com" xmlns:r2dtns="http://anm.cisco.com">
      <!--Begin of generated message type-->
      <xsd:element name="validateIPAddressResponse" type="r2dtns:validateIPAddressResponse" />
      <xsd:complexType name="validateIPAddressResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="validateIPAddress" type="r2dtns:validateIPAddress" />
      <xsd:complexType name="validateIPAddress">
        <xsd:sequence>
          <xsd:element name="arg0" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="isEmptyOrNullResponse" type="r2dtns:isEmptyOrNullResponse" />
      <xsd:complexType name="isEmptyOrNullResponse">
        <xsd:sequence>
          <xsd:element name="return" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="isEmptyOrNull" type="r2dtns:isEmptyOrNull" />
      <xsd:complexType name="isEmptyOrNull">
        <xsd:sequence>
          <xsd:element name="arg0" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="getVMMappingInfoResponse" type="r2dtns:getVMMappingInfoResponse" />
      <xsd:complexType name="getVMMappingInfoResponse">
        <xsd:sequence>
          <xsd:element name="VMMappingInfos" type="tns:VMMappingInfoArray" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="getVMMappingInfo" type="r2dtns:getVMMappingInfo" />
      <xsd:complexType name="getVMMappingInfo">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="vmname" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="changeServerfarmRserverWeightResponse" type="r2dtns:changeServerfarmRserverWeightResponse" />
      <xsd:complexType name="changeServerfarmRserverWeightResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="changeServerfarmRserverWeight" type="r2dtns:changeServerfarmRserverWeight" />
      <xsd:complexType name="changeServerfarmRserverWeight">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
          <xsd:element name="rserver" type="tns:SfRserver" />
          <xsd:element name="reason" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="suspendServerfarmRserverResponse" type="r2dtns:suspendServerfarmRserverResponse" />
      <xsd:complexType name="suspendServerfarmRserverResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="suspendServerfarmRserver" type="r2dtns:suspendServerfarmRserver" />
      <xsd:complexType name="suspendServerfarmRserver">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
          <xsd:element name="rserver" type="tns:SfRserver" />
          <xsd:element name="suspendState" type="tns:SuspendState" />
          <xsd:element name="reason" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="activateServerfarmRserverResponse" type="r2dtns:activateServerfarmRserverResponse" />
      <xsd:complexType name="activateServerfarmRserverResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="activateServerfarmRserver" type="r2dtns:activateServerfarmRserver" />
      <xsd:complexType name="activateServerfarmRserver">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
          <xsd:element name="rserver" type="tns:SfRserver" />
          <xsd:element name="reason" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listVirtualContextsResponse" type="r2dtns:listVirtualContextsResponse" />
      <xsd:complexType name="listVirtualContextsResponse">
        <xsd:sequence>
          <xsd:element name="DeviceIDs" type="tns:DeviceIDArray" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listVirtualContexts" type="r2dtns:listVirtualContexts" />
      <xsd:complexType name="listVirtualContexts">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceIDs" type="tns:DeviceID" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listDeviceIdsResponse" type="r2dtns:listDeviceIdsResponse" />
      <xsd:complexType name="listDeviceIdsResponse">
        <xsd:sequence>
          <xsd:element name="DeviceIDs" type="tns:DeviceIDArray" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listDeviceIds" type="r2dtns:listDeviceIds" />
      <xsd:complexType name="listDeviceIds">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceType" type="tns:DeviceType" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="removeRserverFromServerfarmResponse" type="r2dtns:removeRserverFromServerfarmResponse" />
      <xsd:complexType name="removeRserverFromServerfarmResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="removeRserverFromServerfarm" type="r2dtns:removeRserverFromServerfarm" />
      <xsd:complexType name="removeRserverFromServerfarm">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
          <xsd:element name="rserver" type="tns:SfRserver" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="addRserverToServerfarmResponse" type="r2dtns:addRserverToServerfarmResponse" />
      <xsd:complexType name="addRserverToServerfarmResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="addRserverToServerfarm" type="r2dtns:addRserverToServerfarm" />
      <xsd:complexType name="addRserverToServerfarm">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
          <xsd:element name="serverfarmname" type="xsd:string" />
          <xsd:element name="rserver" type="tns:Rserver" />
          <xsd:element name="port" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listServerfarmRserversResponse" type="r2dtns:listServerfarmRserversResponse" />
      <xsd:complexType name="listServerfarmRserversResponse">
        <xsd:sequence>
          <xsd:element name="SfRservers" type="tns:SfRserverArray" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listServerfarmRservers" type="r2dtns:listServerfarmRservers" />
      <xsd:complexType name="listServerfarmRservers">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
          <xsd:element name="serverfarmname" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listRserversResponse" type="r2dtns:listRserversResponse" />
      <xsd:complexType name="listRserversResponse">
        <xsd:sequence>
          <xsd:element name="Rservers" type="tns:RserverArray" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listRservers" type="r2dtns:listRservers" />
      <xsd:complexType name="listRservers">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listServerFarmsResponse" type="r2dtns:listServerFarmsResponse" />
      <xsd:complexType name="listServerFarmsResponse">
        <xsd:sequence>
          <xsd:element name="serverfarms" type="tns:ServerfarmArray" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="listServerFarms" type="r2dtns:listServerFarms" />
      <xsd:complexType name="listServerFarms">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
          <xsd:element name="deviceID" type="tns:DeviceID" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="logoutResponse" type="r2dtns:logoutResponse" />
      <xsd:complexType name="logoutResponse">
        <xsd:sequence />
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="logout" type="r2dtns:logout" />
      <xsd:complexType name="logout">
        <xsd:sequence>
          <xsd:element name="sessionToken" type="tns:SessionToken" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="loginResponse" type="r2dtns:loginResponse" />
      <xsd:complexType name="loginResponse">
        <xsd:sequence>
          <xsd:element name="SessionToken" type="tns:SessionToken" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
      <!--Begin of generated message type-->
      <xsd:element name="login" type="r2dtns:login" />
      <xsd:complexType name="login">
        <xsd:sequence>
          <xsd:element name="user" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <!--End of generated message type-->
    </xsd:schema>
  </types>
  <!--<message name="login" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="user" type="xsd:string"></part><part name="password" type="xsd:string"></part></message>-->
  <message name="login" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:login" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="loginResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="SessionToken" type="tns:SessionToken"></part></message>-->
  <message name="loginResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:loginResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <message name="WSException">
    <part name="fault" element="tns:WSException">
    </part>
  </message>
  <!--<message name="logout" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part></message>-->
  <message name="logout" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:logout" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="logoutResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="logoutResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:logoutResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listServerFarms" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part></message>-->
  <message name="listServerFarms" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listServerFarms" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listServerFarmsResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="serverfarms" type="tns:ServerfarmArray"></part></message>-->
  <message name="listServerFarmsResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listServerFarmsResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listRservers" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part></message>-->
  <message name="listRservers" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listRservers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listRserversResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="Rservers" type="tns:RserverArray"></part></message>-->
  <message name="listRserversResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listRserversResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listServerfarmRservers" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part><part name="serverfarmname" type="xsd:string"></part></message>-->
  <message name="listServerfarmRservers" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listServerfarmRservers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listServerfarmRserversResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="SfRservers" type="tns:SfRserverArray"></part></message>-->
  <message name="listServerfarmRserversResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listServerfarmRserversResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="addRserverToServerfarm" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part><part name="serverfarmname" type="xsd:string"></part><part name="rserver" type="tns:Rserver"></part><part name="port" type="xsd:int"></part></message>-->
  <message name="addRserverToServerfarm" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:addRserverToServerfarm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="addRserverToServerfarmResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="addRserverToServerfarmResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:addRserverToServerfarmResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="removeRserverFromServerfarm" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part><part name="rserver" type="tns:SfRserver"></part></message>-->
  <message name="removeRserverFromServerfarm" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:removeRserverFromServerfarm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="removeRserverFromServerfarmResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="removeRserverFromServerfarmResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:removeRserverFromServerfarmResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listDeviceIds" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceType" type="tns:DeviceType"></part></message>-->
  <message name="listDeviceIds" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listDeviceIds" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listDeviceIdsResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="DeviceIDs" type="tns:DeviceIDArray"></part></message>-->
  <message name="listDeviceIdsResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listDeviceIdsResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listVirtualContexts" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceIDs" type="tns:DeviceID"></part></message>-->
  <message name="listVirtualContexts" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listVirtualContexts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="listVirtualContextsResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="DeviceIDs" type="tns:DeviceIDArray"></part></message>-->
  <message name="listVirtualContextsResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:listVirtualContextsResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="activateServerfarmRserver" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part><part name="rserver" type="tns:SfRserver"></part><part name="reason" type="xsd:string"></part></message>-->
  <message name="activateServerfarmRserver" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:activateServerfarmRserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="activateServerfarmRserverResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="activateServerfarmRserverResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:activateServerfarmRserverResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="suspendServerfarmRserver" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part><part name="rserver" type="tns:SfRserver"></part><part name="suspendState" type="tns:SuspendState"></part><part name="reason" type="xsd:string"></part></message>-->
  <message name="suspendServerfarmRserver" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:suspendServerfarmRserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="suspendServerfarmRserverResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="suspendServerfarmRserverResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:suspendServerfarmRserverResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="changeServerfarmRserverWeight" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="deviceID" type="tns:DeviceID"></part><part name="rserver" type="tns:SfRserver"></part><part name="reason" type="xsd:string"></part></message>-->
  <message name="changeServerfarmRserverWeight" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:changeServerfarmRserverWeight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="changeServerfarmRserverWeightResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="changeServerfarmRserverWeightResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:changeServerfarmRserverWeightResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="getVMMappingInfo" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="sessionToken" type="tns:SessionToken"></part><part name="vmname" type="xsd:string"></part></message>-->
  <message name="getVMMappingInfo" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:getVMMappingInfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="getVMMappingInfoResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="VMMappingInfos" type="tns:VMMappingInfoArray"></part></message>-->
  <message name="getVMMappingInfoResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:getVMMappingInfoResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="isEmptyOrNull" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="arg0" type="xsd:string"></part></message>-->
  <message name="isEmptyOrNull" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:isEmptyOrNull" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="isEmptyOrNullResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="return" type="xsd:boolean"></part></message>-->
  <message name="isEmptyOrNullResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:isEmptyOrNullResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="validateIPAddress" xmlns="http://schemas.xmlsoap.org/wsdl/"><part name="arg0" type="xsd:string"></part></message>-->
  <message name="validateIPAddress" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:validateIPAddress" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <!--<message name="validateIPAddressResponse" xmlns="http://schemas.xmlsoap.org/wsdl/"></message>-->
  <message name="validateIPAddressResponse" xmlns:typens="http://anm.cisco.com">
    <wsdl:part name="parameter" element="typens:validateIPAddressResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  </message>
  <portType name="OperationManager">
    <operation name="login" parameterOrder="user password">
      <input message="tns:login">
      </input>
      <output message="tns:loginResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="logout">
      <input message="tns:logout">
      </input>
      <output message="tns:logoutResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="listServerFarms" parameterOrder="sessionToken deviceID">
      <input message="tns:listServerFarms">
      </input>
      <output message="tns:listServerFarmsResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="listRservers" parameterOrder="sessionToken deviceID">
      <input message="tns:listRservers">
      </input>
      <output message="tns:listRserversResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="listServerfarmRservers" parameterOrder="sessionToken deviceID serverfarmname">
      <input message="tns:listServerfarmRservers">
      </input>
      <output message="tns:listServerfarmRserversResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="addRserverToServerfarm" parameterOrder="sessionToken deviceID serverfarmname rserver port">
      <input message="tns:addRserverToServerfarm">
      </input>
      <output message="tns:addRserverToServerfarmResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="removeRserverFromServerfarm" parameterOrder="sessionToken deviceID rserver">
      <input message="tns:removeRserverFromServerfarm">
      </input>
      <output message="tns:removeRserverFromServerfarmResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="listDeviceIds" parameterOrder="sessionToken deviceType">
      <input message="tns:listDeviceIds">
      </input>
      <output message="tns:listDeviceIdsResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="listVirtualContexts" parameterOrder="sessionToken deviceIDs">
      <input message="tns:listVirtualContexts">
      </input>
      <output message="tns:listVirtualContextsResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="activateServerfarmRserver" parameterOrder="sessionToken deviceID rserver reason">
      <input message="tns:activateServerfarmRserver">
      </input>
      <output message="tns:activateServerfarmRserverResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="suspendServerfarmRserver" parameterOrder="sessionToken deviceID rserver suspendState reason">
      <input message="tns:suspendServerfarmRserver">
      </input>
      <output message="tns:suspendServerfarmRserverResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="changeServerfarmRserverWeight" parameterOrder="sessionToken deviceID rserver reason">
      <input message="tns:changeServerfarmRserverWeight">
      </input>
      <output message="tns:changeServerfarmRserverWeightResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="getVMMappingInfo" parameterOrder="sessionToken vmname">
      <input message="tns:getVMMappingInfo">
      </input>
      <output message="tns:getVMMappingInfoResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
    <operation name="isEmptyOrNull">
      <input message="tns:isEmptyOrNull">
      </input>
      <output message="tns:isEmptyOrNullResponse">
      </output>
    </operation>
    <operation name="validateIPAddress">
      <input message="tns:validateIPAddress">
      </input>
      <output message="tns:validateIPAddressResponse">
      </output>
      <fault message="tns:WSException" name="WSException">
      </fault>
    </operation>
  </portType>
  <!--Changed style from rpc to document-->
  <binding name="OperationManagerPortBinding" type="tns:OperationManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document">
    </soap:binding>
    <operation name="login">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="listServerFarms">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="listRservers">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="listServerfarmRservers">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="addRserverToServerfarm">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="removeRserverFromServerfarm">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="listDeviceIds">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="listVirtualContexts">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="activateServerfarmRserver">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="suspendServerfarmRserver">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="changeServerfarmRserverWeight">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="getVMMappingInfo">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
    <operation name="isEmptyOrNull">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
    </operation>
    <operation name="validateIPAddress">
      <soap:operation soapAction="">
      </soap:operation>
      <input>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </input>
      <output>
        <!--Attribute namespace="http://anm.cisco.com" has been removed-->
        <soap:body use="literal">
        </soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal">
        </soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="OperationManagerService">
    <port name="OperationManagerPort" binding="tns:OperationManagerPortBinding">
      <soap:address location="https://10.64.6.74:8443/anm/OperationManager">
      </soap:address>
    </port>
  </service>
</definitions>