ConDep.Dsl.LoadBalancer.Ace/OperationManager41.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://anm.cisco.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://anm.cisco.com" name="OperationManagerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://anm.cisco.com" schemaLocation="OperationManager41_schema.xsd"></xsd:import>
    </xsd:schema>
  </types>
  <message name="login">
    <part name="user" type="xsd:string"></part>
    <part name="password" type="xsd:string"></part>
  </message>
  <message name="loginResponse">
    <part name="SessionToken" type="tns:SessionToken"></part>
  </message>
  <message name="WSException">
    <part name="fault" element="tns:WSException"></part>
  </message>
  <message name="logout">
    <part name="sessionToken" type="tns:SessionToken"></part>
  </message>
  <message name="logoutResponse"></message>
  <message name="listServerFarms">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
  </message>
  <message name="listServerFarmsResponse">
    <part name="serverfarms" type="tns:ServerfarmArray"></part>
  </message>
  <message name="listRservers">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
  </message>
  <message name="listRserversResponse">
    <part name="Rservers" type="tns:RserverArray"></part>
  </message>
  <message name="listServerfarmRservers">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
    <part name="serverfarmname" type="xsd:string"></part>
  </message>
  <message name="listServerfarmRserversResponse">
    <part name="SfRservers" type="tns:SfRserverArray"></part>
  </message>
  <message name="addRserverToServerfarm">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
    <part name="serverfarmname" type="xsd:string"></part>
    <part name="rserver" type="tns:Rserver"></part>
    <part name="port" type="xsd:int"></part>
  </message>
  <message name="addRserverToServerfarmResponse"></message>
  <message name="removeRserverFromServerfarm">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
    <part name="rserver" type="tns:SfRserver"></part>
  </message>
  <message name="removeRserverFromServerfarmResponse"></message>
  <message name="listDeviceIds">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceType" type="tns:DeviceType"></part>
  </message>
  <message name="listDeviceIdsResponse">
    <part name="DeviceIDs" type="tns:DeviceIDArray"></part>
  </message>
  <message name="listVirtualContexts">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceIDs" type="tns:DeviceID"></part>
  </message>
  <message name="listVirtualContextsResponse">
    <part name="DeviceIDs" type="tns:DeviceIDArray"></part>
  </message>
  <message name="activateServerfarmRserver">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
    <part name="rserver" type="tns:SfRserver"></part>
    <part name="reason" type="xsd:string"></part>
  </message>
  <message name="activateServerfarmRserverResponse"></message>
  <message name="suspendServerfarmRserver">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
    <part name="rserver" type="tns:SfRserver"></part>
    <part name="suspendState" type="tns:SuspendState"></part>
    <part name="reason" type="xsd:string"></part>
  </message>
  <message name="suspendServerfarmRserverResponse"></message>
  <message name="changeServerfarmRserverWeight">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="deviceID" type="tns:DeviceID"></part>
    <part name="rserver" type="tns:SfRserver"></part>
    <part name="reason" type="xsd:string"></part>
  </message>
  <message name="changeServerfarmRserverWeightResponse"></message>
  <message name="getVMMappingInfo">
    <part name="sessionToken" type="tns:SessionToken"></part>
    <part name="vmname" type="xsd:string"></part>
  </message>
  <message name="getVMMappingInfoResponse">
    <part name="VMMappingInfos" type="tns:VMMappingInfoArray"></part>
  </message>
  <message name="isEmptyOrNull">
    <part name="arg0" type="xsd:string"></part>
  </message>
  <message name="isEmptyOrNullResponse">
    <part name="return" type="xsd:boolean"></part>
  </message>
  <message name="validateIPAddress">
    <part name="arg0" type="xsd:string"></part>
  </message>
  <message name="validateIPAddressResponse"></message>
  <portType name="OperationManager">
    <operation name="login" parameterOrder="user password">
      <input message="tns:login"></input>
      <output message="tns:loginResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="logout">
      <input message="tns:logout"></input>
      <output message="tns:logoutResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="listServerFarms" parameterOrder="sessionToken deviceID">
      <input message="tns:listServerFarms"></input>
      <output message="tns:listServerFarmsResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="listRservers" parameterOrder="sessionToken deviceID">
      <input message="tns:listRservers"></input>
      <output message="tns:listRserversResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="listServerfarmRservers" parameterOrder="sessionToken deviceID serverfarmname">
      <input message="tns:listServerfarmRservers"></input>
      <output message="tns:listServerfarmRserversResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="addRserverToServerfarm" parameterOrder="sessionToken deviceID serverfarmname rserver port">
      <input message="tns:addRserverToServerfarm"></input>
      <output message="tns:addRserverToServerfarmResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="removeRserverFromServerfarm" parameterOrder="sessionToken deviceID rserver">
      <input message="tns:removeRserverFromServerfarm"></input>
      <output message="tns:removeRserverFromServerfarmResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="listDeviceIds" parameterOrder="sessionToken deviceType">
      <input message="tns:listDeviceIds"></input>
      <output message="tns:listDeviceIdsResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="listVirtualContexts" parameterOrder="sessionToken deviceIDs">
      <input message="tns:listVirtualContexts"></input>
      <output message="tns:listVirtualContextsResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="activateServerfarmRserver" parameterOrder="sessionToken deviceID rserver reason">
      <input message="tns:activateServerfarmRserver"></input>
      <output message="tns:activateServerfarmRserverResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="suspendServerfarmRserver" parameterOrder="sessionToken deviceID rserver suspendState reason">
      <input message="tns:suspendServerfarmRserver"></input>
      <output message="tns:suspendServerfarmRserverResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="changeServerfarmRserverWeight" parameterOrder="sessionToken deviceID rserver reason">
      <input message="tns:changeServerfarmRserverWeight"></input>
      <output message="tns:changeServerfarmRserverWeightResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="getVMMappingInfo" parameterOrder="sessionToken vmname">
      <input message="tns:getVMMappingInfo"></input>
      <output message="tns:getVMMappingInfoResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
    <operation name="isEmptyOrNull">
      <input message="tns:isEmptyOrNull"></input>
      <output message="tns:isEmptyOrNullResponse"></output>
    </operation>
    <operation name="validateIPAddress">
      <input message="tns:validateIPAddress"></input>
      <output message="tns:validateIPAddressResponse"></output>
      <fault message="tns:WSException" name="WSException"></fault>
    </operation>
  </portType>
  <binding name="OperationManagerPortBinding" type="tns:OperationManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
    <operation name="login">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="logout">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="listServerFarms">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="listRservers">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="listServerfarmRservers">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="addRserverToServerfarm">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="removeRserverFromServerfarm">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="listDeviceIds">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="listVirtualContexts">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="activateServerfarmRserver">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="suspendServerfarmRserver">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="changeServerfarmRserverWeight">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="getVMMappingInfo">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
    <operation name="isEmptyOrNull">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
    </operation>
    <operation name="validateIPAddress">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </input>
      <output>
        <soap:body use="literal" namespace="http://anm.cisco.com"></soap:body>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="OperationManagerService">
    <port name="OperationManagerPort" binding="tns:OperationManagerPortBinding">
      <soap:address location="https://10.64.6.74:8443/anm/OperationManager"></soap:address>
    </port>
  </service>
</definitions>