ConDep.Dsl.LoadBalancer.Ace/OperationManager41_schema.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><xs:schema xmlns:tns="http://anm.cisco.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://anm.cisco.com">

<xs:element name="DeviceID" type="tns:DeviceID"></xs:element>

<xs:element name="DeviceType" type="tns:DeviceType"></xs:element>

<xs:element name="Rserver" type="tns:Rserver"></xs:element>

<xs:element name="Serverfarm" type="tns:Serverfarm"></xs:element>

<xs:element name="SessionToken" type="tns:SessionToken"></xs:element>

<xs:element name="SfRserver" type="tns:SfRserver"></xs:element>

<xs:element name="SuspendState" type="tns:SuspendState"></xs:element>

<xs:element name="VMMappingInfo" type="tns:VMMappingInfo"></xs:element>

<xs:element name="WSException" type="tns:WSException"></xs:element>

<xs:complexType name="SessionToken">
<xs:sequence>
<xs:element name="sid" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeviceID">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="deviceType" type="tns:DeviceType" minOccurs="0"></xs:element>
<xs:element name="ipAddr" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="slot" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="chassisIPAddr" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SfRserver">
<xs:sequence>
<xs:element name="serverfarmName" type="xs:string"></xs:element>
<xs:element name="realserverName" type="xs:string"></xs:element>
<xs:element name="adminState" type="tns:realServerStates"></xs:element>
<xs:element name="weight" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="port" type="xs:int"></xs:element>
<xs:element name="ipAddr" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Rserver">
<xs:sequence>
<xs:element name="name" type="xs:string"></xs:element>
<xs:element name="type" type="tns:type"></xs:element>
<xs:element name="ipAddr" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="state" type="tns:state"></xs:element>
<xs:element name="weight" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Serverfarm">
<xs:sequence>
<xs:element name="name" type="xs:string"></xs:element>
<xs:element name="serverFarmType" type="tns:serverFarmType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VMMappingInfo">
<xs:sequence>
<xs:element name="deviceID" type="tns:DeviceID" minOccurs="0"></xs:element>
<xs:element name="sfname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="sfrsname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="port" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="ipaddr" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="DeviceType">
<xs:restriction base="xs:string">
<xs:enumeration value="CAT6K"></xs:enumeration>
<xs:enumeration value="ACE_BLADE"></xs:enumeration>
<xs:enumeration value="VIRTUAL_CONTEXT"></xs:enumeration>
<xs:enumeration value="ACE4710"></xs:enumeration>
<xs:enumeration value="GSS"></xs:enumeration>
<xs:enumeration value="CSS"></xs:enumeration>
<xs:enumeration value="CSM"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="realServerStates">
<xs:restriction base="xs:string">
<xs:enumeration value="IS"></xs:enumeration>
<xs:enumeration value="OOS"></xs:enumeration>
<xs:enumeration value="ISS"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="type">
<xs:restriction base="xs:string">
<xs:enumeration value="host"></xs:enumeration>
<xs:enumeration value="redirect"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="state">
<xs:restriction base="xs:string">
<xs:enumeration value="IS"></xs:enumeration>
<xs:enumeration value="OOS"></xs:enumeration>
<xs:enumeration value="ISS"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="SuspendState">
<xs:restriction base="xs:string">
<xs:enumeration value="Graceful"></xs:enumeration>
<xs:enumeration value="Suspend"></xs:enumeration>
<xs:enumeration value="Suspend_Clear_Connections"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="serverFarmType">
<xs:restriction base="xs:string">
<xs:enumeration value="host"></xs:enumeration>
<xs:enumeration value="redirect"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:complexType name="DeviceIDArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:DeviceID" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SfRserverArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:SfRserver" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ServerfarmArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:Serverfarm" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VMMappingInfoArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:VMMappingInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RserverArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:Rserver" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>